/*Custom CSS*/

/*** 
* Element Selectors
***/

h1,h2,h3,h4,h5,p {
    font-family: Helvetica, Verdana;
    color: white;
}

h1,h2,h3,p {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 2em;
}

body {
    background-color: #211c1d;
}

/***
* Classes
***/

.portrait-image {
    border-style: solid;
    border-color: #de0aff;
    border-width: 6px;
    border-radius: 100%;
    margin-top: 100px;
}

.box-shadow {
    box-shadow: 1px 1px 30px -5px;
}

.container {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 30px;
}

.text-center {
    text-align: center;
}


.text-padding {
    padding: 10px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.timeline-line {
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: gray;
    margin-left: 50%;
    height: 100px;
}

.timeline-image {
    width: 300px;
    height: 370px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-shadow: 8px 8px #FA4742;
}

.card {
    width: 320px;
    height: 320px;
    max-height: 320px;
    max-width: 320px;
    box-shadow: 0px 20px 40px -20px;
    border-radius: 100%;
}

.text-orange {
    color: #FCA102;
}

/***
* ID Selectors
***/

#araki {
    color: #3ef2cb;
}

#timeline-fade-1,
#timeline-fade-2,
#timeline-fade-3,
#timeline-fade-4,
#timeline-fade-5,
#timeline-fade-6,
#timeline-fade-7,
#timeline-fade-8,
#timeline-fade-9,
#timeline-fade-10,
#timeline-fade-11,
#timeline-fade-12,
#timeline-fade-13,
#timeline-fade-14,
#timeline-fade-15,
#timeline-fade-16,
#timeline-fade-17,
#timeline-fade-18,
#timeline-fade-19,
#timeline-fade-20,
#timeline-fade-21,
#timeline-fade-22,
#timeline-fade-23,
#timeline-fade-24,
#timeline-fade-25 {
    opacity: 0;
}
